@*Andrew Luke
Sec 4

Continuing the Bookstore project from Assignments #5-7, add the ability for the user to add
books to their shopping cart. The cart should update the quantity, price, subtotal, and total for
each book that is added. The information should stay in the cart as long as the app is running.
Include the functionality for the user to “Continue Shopping” and go back to the page where they
left off when they added the item to their cart.
Also add the functionality to the app to:
• Remove items from the cart
• Display the cart summary on the navbar so that it is displayed on each page
(#notcoveredinthevideos, but Ch. 9 in the Freeman textbook will be a great resource)
Make sure to:
• Use a Razor page for the Shopping Cart.
• Use a SQLite database. (Convert from SQLServer if necessary.)*@



@page
@model assignment5.Pages.PurchaseModel
@{
}

<h2>Your Cart</h2>
<div style="margin: 3rem;">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Quantity</th>
                <th>Book</th>
                <th>Price</th>
                <th>Subtotal</th>
                <th style="width: 6rem;"></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Cart.Lines.Count() == 0)
            {
                <tr>
                    <td colspan="5" class="text-center">Your cart is empty</td>
                </tr>
            }
            else
            {
                @foreach (var line in Model.Cart.Lines)
                {
                    <tr>
                        <td class="text-left">@line.Quantity</td>
                        <td class="text-left">@line.Book.Title</td>
                        <td class="text-right">@line.Book.Price.ToString("c", System.Globalization.CultureInfo.GetCultureInfo("en-us"))</td>
                        <td class="text-right">@((line.Quantity * line.Book.Price).ToString("c", System.Globalization.CultureInfo.GetCultureInfo("en-us")))</td>
                        <td>
                            <form asp-page-handler="Remove" method="post">
                                <input type="hidden" name="Id" value="@line.Book.Id" />
                                <input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />
                                <button type="submit" class="btn btn-sm btn-danger">Remove</button>
                            </form>
                        </td>
                    </tr>
                }
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3" class="text-right">Total:</td>
                <td class="text-right">@Model.Cart.ComputeTotal().ToString("c", System.Globalization.CultureInfo.GetCultureInfo("en-us"))</td>
                <td></td>
            </tr>
        </tfoot>
    </table>
</div>

<div class="text-center">
    <a class="btn btn-primary" href="@Model.ReturnUrl">Continue Shopping</a>
</div>